@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  *zoom: 1; }
  body:before,
  body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

.full-monty {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%; }

.one-half {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%; }

.one-third {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%; }

.one-fourth {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%; }

.one-sixth {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%; }

.last {
  margin-right: 0 !important;
  clear: right; }

.leftFlush {
  margin-left: 0 !important;
  clear: left; }

.italicIt {
  font-style: italic; }

.boldIt {
  font-weight: 900; }

.yellowHighlight {
  background: yellow; }

.orangeHighlight {
  background: #ffbe74; }

.crimsonWords {
  color: red; }

.codeIt1 {
  background: #7d89a3;
  border-radius: 5px;
  padding: 5px;
  font-style: italic; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, main, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: transparent; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: black;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%; }

.wrapper {
  max-width: 1300px;
  margin: 0 auto; }

ol, ul {
  list-style: none; }

li {
  list-style-type: none; }

p {
  line-height: 32px;
  margin-bottom: 20px;
  font-size: 16px; }

h2 {
  font-weight: 800; }

h3 {
  font-weight: 700; }

h4 {
  font-weight: 600;
  margin-bottom: 1em; }

.carousel {
  -webkit-perspective: 200px;
  perspective: 200px;
  background: black;
  /*margin-bottom: 3rem;*/
  height: 50vh;
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

ul.spinner {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*change the origin for the animation... The transform-origin CSS property lets you modify the origin for transformations of an element.  A -ve z-offset means into the page usually unless the element has already been rotated, while +ve means towards the user's eye. */
  /*the z-offset of the ul.spinner must match those of the img's within it*/
  -webkit-transform-origin: 50% 50% -2000px;
  transform-origin: 50% 50% -2000px;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -webkit-transform: rotateY(0deg) rotateX(0deg) translateY(-6.5em) translateX(-9em);
  transform: rotateY(0deg) rotateX(0deg) translateY(-6.5em) translateX(-9em);
  z-index: 5; }

ul.spinner li {
  max-width: 425px;
  outline: 1px solid transparent;
  list-style-type: none; }

ul.spinner img {
  max-width: 425px;
  position: absolute;
  -webkit-transform-origin: 50% 50% -2000px;
  transform-origin: 50% 50% -2000px;
  outline: 1px solid transparent; }

ul.spinner li:nth-child(1) img {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

ul.spinner li:nth-child(2) img {
  /*-ve degrees are counter clockwise*/
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg); }

ul.spinner li:nth-child(3) img {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg); }

ul.spinner li:nth-child(4) img {
  -webkit-transform: rotateY(-135deg);
  transform: rotateY(-135deg); }

ul.spinner li:nth-child(5) img {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

ul.spinner li:nth-child(6) img {
  -webkit-transform: rotateY(-225deg);
  transform: rotateY(-225deg); }

ul.spinner li:nth-child(7) img {
  -webkit-transform: rotateY(-270deg);
  transform: rotateY(-270deg); }

ul.spinner li:nth-child(8) img {
  -webkit-transform: rotateY(-315deg);
  transform: rotateY(-315deg); }

/*ul.spinner img:nth-child(9) {
			transform: rotateY(-360deg);
		}*/
/*ul.spinner img:nth-child(10) {
			transform: rotateY(-405deg);
		}

		ul.spinner img:nth-child(11) {
			transform: rotateY(-450deg);
		}*/
.carousel .controlframe {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .carousel .controlframe .controls span.fa {
    color: black;
    background: white;
    width: 2em;
    height: 2em;
    padding: 2%;
    border-radius: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; }
    .carousel .controlframe .controls span.fa.fa-chevron-up {
      padding: 0 0 12% 4%;
      margin-top: 25%; }
    .carousel .controlframe .controls span.fa.fa-chevron-down {
      padding: 0 0 2% 4%;
      margin-bottom: 25%; }
    .carousel .controlframe .controls span.fa.fa-chevron-left {
      padding-right: 2.5%;
      margin-left: 2%; }
    .carousel .controlframe .controls span.fa.fa-chevron-right {
      padding-left: 2.5%;
      margin-right: 2%; }
  .carousel .controlframe .controls span.fa:hover {
    color: white;
    background: #2ecc71;
    cursor: pointer; }

.carousel .controls.vertical1, .carousel .controls.vertical2 {
  height: 25vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.carousel .controls.vertical1 {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.carousel .controls.vertical2 {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.carousel .controls.horizontal {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  .carousel .controls.horizontal div {
    -webkit-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%; }
  .carousel .controls.horizontal div:nth-child(1) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .carousel .controls.horizontal div:nth-child(2) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }

.largeModal1 {
  color: white;
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 10%;
  left: 10%;
  z-index: 10;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  display: none;
  z-index: 0; }

.largeModal1 .imgFrame {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.largeModal1 .imgFrame img {
  max-width: 100%;
  height: 25vh;
  border-radius: 10px;
  border: 5px solid white; }

.largeModal1 .caption {
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .largeModal1 .caption p {
    display: inline-block;
    margin: 0;
    padding: 0; }

a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in; }
  a:link {
    color: white; }
  a:visited {
    color: white; }
  a:hover {
    color: #ff9100; }

section pre {
  background: #404040;
  border-radius: 10px;
  padding: 2%;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin-top: 5%;
  margin-bottom: 5%; }

main ul li {
  list-style: square;
  line-height: 32px; }

main h2 {
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 5%; }

section h3 {
  font-size: 28.8px;
  margin-top: 5%;
  margin-bottom: 5%; }

header {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

header nav {
  width: 100%;
  background: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  header nav a {
    display: block;
    font-weight: 800;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -webkit-flex: 1 100px;
    -ms-flex: 1 100px;
    flex: 1 100px;
    padding: 2% 5% 2% 5%;
    border: 5px solid transparent;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    header nav a:hover {
      background: white;
      color: black;
      border: 5px solid transparent; }
  header nav a:nth-child(1) {
    border: 5px solid white;
    font-size: 43.2px; }
    header nav a:nth-child(1):hover {
      border: 5px solid #253049; }

header aside {
  padding: 2% 0 2% 0; }
  header aside p {
    font-size: 28.8px; }
  header aside span {
    font-style: italic; }

section.carousel {
  margin-top: 5%;
  margin-bottom: 5%; }

footer {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

footer nav {
  width: 100%;
  background: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  footer nav a {
    display: block;
    font-weight: 800;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -webkit-flex: 1 100px;
    -ms-flex: 1 100px;
    flex: 1 100px;
    padding: 2% 5% 2% 5%;
    border: 5px solid transparent;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    footer nav a:hover {
      background: white;
      color: black;
      border: 5px solid transparent; }
  footer nav a:nth-child(1) {
    border: 5px solid white; }
    footer nav a:nth-child(1):hover {
      border: 5px solid #253049; }

footer aside {
  padding: 2% 0 2% 0; }
  footer aside p {
    font-size: 17.6px; }
  footer aside span {
    font-style: italic; }
