html(lang="en")
	head
		block title
		include ./includes/variables.global.041415.1.jade
		include ./includes/mixins.universal.041415.1.jade
		include ./includes/mixins.project.041415.1.jade
		include ./includes/meta.jade
		include ./includes/links.jade
	body
		include ./includes/googleCode.jade
		
		//- if needed apply a .wrapper either here or within the individual sections

		block header

		block content

		block footer

		//- currently best practice to include scripts just before end of body
		include ./includes/scripts.jade

		//- NOTE:  the large modal 1 must be dynamically generated as the user may not have built a static modal already...
		//- we'll build it within #carousel and append it...
		//- it'll have to be absolutely positioned relative to the body
		//- so #carousel should not have position: relative at all
		//- alternative:  we could append the large modal relative to the body by building it outside of #carousel
		//- +largeModal1