extends index.layout.030215.1.jade

block content

	main
		// earliest original was mostly CSS based and forked from http://codepen.io/dudleystorey/pen/kiajB

		//- ===================================
		//- 		PRIMARY EXPERIMENT BLOCK
		//- ===================================
		h2 Primary Experiment Block
		+threeSixtyDim2
			section.carousel.primaryExp1
				ul.spinner
					+addNineImageSet2
		//- END PRIMARY EXPERIMENT BLOCK
		
		////////////////////////////////////////////
		// 		Carousel Options
		////////////////////////////////////////////
		h2 Carousel Dimensions Demo
		+threeSixtyDim2
			section.carousel.carouselDim1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END Carousel Options
		////////////////////////////////////////////

		////////////////////////////////////////////
		// 		Spinner Options
		////////////////////////////////////////////
		h2 Spinner Options Demo
		+threeSixtyDim2
			section.carousel.verticalRing1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END Spinner Options
		////////////////////////////////////////////

		////////////////////////////////////////////
		// 		Spinner Options
		////////////////////////////////////////////
		h2 Spinner Options Demo
		+threeSixtyDim2
			section.carousel.verticalSlash1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END Spinner Options
		////////////////////////////////////////////

		////////////////////////////////////////////
		// 		AUTO SCROLL HORIZONTAL
		////////////////////////////////////////////
		h2 Auto Scroll Horizontal
		+threeSixtyDim2
			section.carousel.autoScrollH1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END AUTO SCROLL HORIZONTAL
		////////////////////////////////////////////


		////////////////////////////////////////////
		// 		AUTO SCROLL VERTICAL
		////////////////////////////////////////////
		h2 Auto Scroll Vertical
		+threeSixtyDim2
			section.carousel.autoScrollV1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END AUTO SCROLL VERTICAL
		////////////////////////////////////////////


		////////////////////////////////////////////
		// 		AUTO SCROLL HORIZONTAL AND VERTICAL
		////////////////////////////////////////////
		h2 Auto Scroll Horizontal and Vertical
		+threeSixtyDim2
			section.carousel.autoScrollHV1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END AUTO SCROLL HORIZONTAL AND VERTICAL
		////////////////////////////////////////////
