extends index.layout.030215.1.jade

block content

	main
		// earliest original was mostly CSS based and forked from http://codepen.io/dudleystorey/pen/kiajB

		//- ===================================
		//- 		PRIMARY EXPERIMENT BLOCK
		//- ===================================
		h2 Primary Experiment Block
		+threeSixtyDim2
			section.carousel.primaryExp1
				ul.spinner
					+addNineImageSet2
		//- END PRIMARY EXPERIMENT BLOCK
		
		////////////////////////////////////////////
		// 		Carousel Options
		////////////////////////////////////////////
		h2 Carousel Dimensions Demo
		+threeSixtyDim2
			section.carousel.carouselDim1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END Carousel Options
		////////////////////////////////////////////

		////////////////////////////////////////////
		// 		Spinner Options
		////////////////////////////////////////////
		h2 Spinner Options Demo
		+threeSixtyDim2
			section.carousel.verticalRing1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END Spinner Options
		////////////////////////////////////////////

		////////////////////////////////////////////
		// 		Spinner Options
		////////////////////////////////////////////
		h2 Spinner Options Demo
		+threeSixtyDim2
			section.carousel.verticalSlash1
				ul.spinner
					+addNineImageSet2
		////////////////////////////////////////////
		// 		END Spinner Options
		////////////////////////////////////////////
