////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////

// you can import web/local fonts here instead of in the links.jade file
// <link href='http://fonts.googleapis.com/css?family=Marvel:700,400' rel='stylesheet' type='text/css'>
// @import url('http://fonts.googleapis.com/css?family=Marvel:700,400');

////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

// FONTS  ------------------------------------------------
$preFontFamily: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
// // END FONTS ------------------------------------------------

// COLOURS  ------------------------------------------------
// colours must go before the base

$headerBackground: black;
$headerLinkColourHover: black;
$headerLinkBackHover: white;

$hoverLinkBorderColour: #253049;

$preOption1: #7d89a3;
$preOption2: #404040;

// // END COLOURS ------------------------------------------------

// BASE  ------------------------------------------------

// NOTE:  the font family may have been placed on all elements for the base and header... see style.scss

$basefontfamily:'Open Sans', sans-serif;
$basefontsize:16px;
$baselineheight:16px;
$baseFontColor: white;
$baseHoverColor: #ff9100;
$basebackcolor: black;
// // END BASE ------------------------------------------------


////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

// suggest you build some classes ahead of time which you can assign as required

.italicIt {
	font-style: italic;
}

.boldIt {
	font-weight: 900;
}

.yellowHighlight {
	background: yellow;
}

.orangeHighlight {
	background: #ffbe74;
}

.crimsonWords {
	color: red;
}

.codeIt1 {
	background: $preOption1;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	margin: 0 2px 0 2px;
	font-style: italic;
}
