link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
//- your custom stylesheet should be the very last
link(href="./css/style.css", rel="stylesheet", type="text/css")
