meta(name='viewport', content='width=device-width, initial-scale=1.0')
//- for the published sites (https://sunnylam13.github.io/ThreeSixtyFlow.js/) you want it to be indexed by Google
//- meta(name="robots", content="noindex,nofollow")