//- ===================================
//- 		MIXINS PROJECT
//- ===================================

//- These mixins are specific to this project only.
//- move mixins here only if they are required in other sections of the site

mixin threeSixtyDim1
	////////////////////////////////////////////
	// 		360 CAROUSEL PLUGIN
	////////////////////////////////////////////

	//- ===================================
	//- 		NOTES
	//- ===================================

	//- Saturday, May 16, 2015 8:06 PM:  there's a weird glitch, one of the images is always popping up ahead of all the others
	//- you can only fit a number of initial images equal to a maximum of 8... afterwards the other images start to overlap with other positions in the circle
	//- it appears that the last one seems to stick out... yet in the original demo this never happens 

	//- Saturday, May 16, 2015 8:36 PM:  setting the z-offset works as I wish however the images and everything else are wonky, they're not very lined up

	//- Wednesday, May 20, 2015 3:21 PM:  using ul instead of figure seems to align the images better

	//- END NOTES
	
	section#carousel
		ul#spinner
			+imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			+imgInsertTemplate("http://demosthenes.info/assets/images/still-lake.jpg","")
			+imgInsertTemplate("http://demosthenes.info/assets/images/pink-milford-sound.jpg","")
			+imgInsertTemplate("http://demosthenes.info/assets/images/paradise.jpg","")
			+imgInsertTemplate("http://demosthenes.info/assets/images/morekai.jpg","")
			+imgInsertTemplate("http://demosthenes.info/assets/images/milky-blue-lagoon.jpg","")
			+imgInsertTemplate("http://demosthenes.info/assets/images/lake-tekapo.jpg","")
			+imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			+imgInsertTemplate("http://demosthenes.info/assets/images/milford-sound.jpg","")

			//- //- 18 point
			//- //- still good with z-offset -2000px
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/still-lake.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/pink-milford-sound.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/paradise.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/morekai.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/milky-blue-lagoon.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/lake-tekapo.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/milford-sound.jpg","")

			//- //- 27 point
			//- //- still good with z-offset -2000px
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/still-lake.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/pink-milford-sound.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/paradise.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/morekai.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/milky-blue-lagoon.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/lake-tekapo.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/milford-sound.jpg","")

			//- //- 36 point
			//- //- still good with z-offset -2000px
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/still-lake.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/pink-milford-sound.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/paradise.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/morekai.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/milky-blue-lagoon.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/lake-tekapo.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/milford-sound.jpg","")

			//- //- 45 point
			//- //- images cross at this point
			//- //- add another -1000px to z offset
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/still-lake.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/pink-milford-sound.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/paradise.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/morekai.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/milky-blue-lagoon.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/lake-tekapo.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/wanaka-tree.jpg","")
			//- +imgInsertTemplate("http://demosthenes.info/assets/images/milford-sound.jpg","")

			// if you add more images the degrees split between the images has to change... you'll want to write JS to manage this automation instead 
			
			//- for creating additional images, loop
			//- - var n = 0
			//- while n < 33
			//- 	+imgInsertTemplate("http://lorempixel.com/425/284","")
			
			//- - var n = 0
			//- while n < 9
			//- 	+imgInsertTemplate("http://lorempixel.com/425/284","")

			//- - var n = 0
			//- while n < 18
			//- 	+imgInsertTemplate("http://lorempixel.com/425/284","")

			//- - var n = 0
			//- while n < 27
			//- 	+imgInsertTemplate("http://lorempixel.com/425/284","")

			//- - var n = 0
			//- while n < 36
			//- 	+imgInsertTemplate("http://lorempixel.com/425/284","")

			//- what if the images are bigger?
			//- - var n = 0
			//- while n < 9
			//- 	+imgInsertTemplate("http://lorempixel.com/850/568","")
			
			//- as the base image size increases, the translateX, translateY changes
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
			//- +imgInsertTemplate("http://lorempixel.com/850/568","")
	
		//- opted to avoid having to measure the mouse position... instead split the entire single .controlframe into 3 vertical sections with horizontal in the middle
		// these controls are dynamically generated by the plugin if the option is enabled
		.controlframe
			.controls.vertical1
				// this is the control panel for the up, down buttons (y-axis)
				div
					span.fa.fa-chevron-up
			.controls.horizontal
				// this is the control panel for the left, right buttons (x-axis)
				div
					span.fa.fa-chevron-left
				div
					span.fa.fa-chevron-right
			.controls.vertical2
				// this is the control panel for the up, down buttons (y-axis)
				div
					span.fa.fa-chevron-down

	////////////////////////////////////////////
	// 		END 360 CAROUSEL PLUGIN
	////////////////////////////////////////////

//- END MIXINS PROJECT 