// SCRIPTS
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
script(type='text/javascript', src='./js/jquery.sticky.js')
script(type='text/javascript', src='./js/jquery.smooth-scroll.min.js')
script(type='text/javascript', src='./js/360main.js')
//- where your custom scripts file is always last
script(type='text/javascript', src='./js/scripts.js')
